DirectoryIndex default.php

RewriteEngine On

# RewriteBase /

RewriteRule ^(app/|bin/|public/|vendor/) - [R=404]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^ default.php [QSA,L]
